@use 'styles/config/variables' as var;
@use 'styles/global/extends' as *;
@use 'styles/config/mixins' as *;

$galleryMarginTop: 330px;

.main {
	@extend .center-spacing;
	min-height: calc($galleryMarginTop + 400px);
	margin-bottom: 150px;

	@include xsScreen {
		margin-bottom: 0px;
	}

	@include smScreen {
		margin-bottom: 30px;
	}

	.animWrap {
		position: absolute;
		z-index: 1;
		transition: transform 50ms linear, width 200ms ease;

		.rocket {
			padding-top: 160%;

			img {
				object-fit: contain;
			}
		}

		.particle {
			padding-top: 100%;
			max-width: 40%;
			margin: 0 auto;
			position: relative;
			transition: top 70ms ease-in;
			z-index: -1;
			top: -40px;
			display: block;
			img {
				filter: drop-shadow(#ff4700 1px 30px 40px) blur(6px);
			}
		}
	}

	.headerWrap {
		text-align: center;
		display: flex;
		align-items: center;
		flex-direction: column;
		position: relative;
		margin: 160px 0 250px;

		@include xsScreen {
			margin: 50px 0 0;
		}

		@include smScreen {
			margin: 120px 0 0;
		}

		@include mdScreen {
			margin: 80px 0 0;
		}

		@include lgScreen {
			margin: 100px 0 -55px;
		}

		.headline {
			display: flex;
			align-items: center;

			@include xsScreen {
				flex-direction: column;
			}

			h1 {
				font-size: 115px;
				line-height: 1.05;
				font-weight: 900;
				position: relative;
				@extend .text-outline;
			}

			.imgFrame {
				img {
					max-width: 235px;
					height: auto;
					position: relative;
					right: 68px;
					margin-right: -115px;
					left: unset;
					width: unset;

					@include xsScreen {
						max-width: 108px;
						margin-right: -90px;
						right: 40px;
					}
				}
			}

			.mdWrap {
				h1 {
					font-size: 86px;

					@include xsScreen {
						font-size: 60px;
					}
				}

				.imgWrap {
					display: flex;
					align-items: center;
					margin: auto;
					width: fit-content;

					@include xsScreen {
						height: 80px;
					}

					@include smScreen {
						height: 160px;
					}

					@include lgScreen {
						height: 170px;
					}
				}
			}
		}
	}

	.grid {
		position: relative;
		display: grid;
		align-items: center;
		justify-items: center;
		grid-template-columns: repeat(5, 1fr);
		min-height: 900px;
		margin-top: -35px;

		@include lgScreen {
			margin-top: 30px;

			img {
				transform: scale(0.8);
			}
		}

		@media (min-width: 1200px) and (max-width: 1350px) {
			margin-top: -65px;
			img {
				transform: scale(0.8);
			}
		}

		@media (min-width: 1080px) and (max-width: 1200px) {
			margin-top: 235px;
		}

		@include xlScreen {
			grid-template-columns: repeat(8, 1fr);
		}

		.galleryItem {
			position: absolute;
			width: 160px;
			height: 160px;
			margin: 20px 0;
			user-select: none;
			transition: transform 800ms ease, opacity 100ms ease;
			top: $galleryMarginTop;

			.media {
				height: 100%;
				width: 100%;

				img,
				video {
					border-radius: 100%;
					overflow: hidden;

					@include lgScreen {
						transform: scale(0.6);
					}

					@media (min-width: 1200px) and (max-width: 1450px) {
						transform: scale(0.8);
					}
				}
			}
		}

		.center {
			padding-top: 300px;
			width: 300px;
			position: absolute;
			top: calc($galleryMarginTop + 50px);

			img {
				object-fit: contain;

				@include xsScreen {
					transform: scale(0.7);
				}
			}
		}
	}

	.mobileGalleryItem {
		position: absolute;
		left: 0;
		top: -100px;

		@include xsScreen {
			top: -140px;
		}

		@media (max-width: 360px) {
			top: -175px;
		}

		&:not(.active) {
			span {
				transform: translate(50vw, -150px) !important;
			}
		}

		span {
			position: absolute;
			padding: 15px;
			background-color: var.$primary-color;
			box-shadow: 0px 0px 50px var.$primary-color;
			border-radius: 50%;
			top: 800px;
			filter: blur(1px);
			transition: transform 300ms ease-out;

			&:nth-child(1) {
				transform: translate(8vw, -40vh);
			}

			&:nth-child(2) {
				transform: translate(84vw, -41vh);
			}

			&:nth-child(3) {
				transform: translate(5vw, 2vh);
			}

			&:nth-child(4) {
				transform: translate(86vw, 2vh);
			}

			&:nth-child(5) {
				transform: translate(45vw, 15vh);
			}
		}
	}
}
