@use 'styles/config/variables' as var;
@use 'styles/global/extends' as *;
@use 'styles/config/mixins' as *;

.main {
	@extend .center-spacing;

	.header {
		.typesetWrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;

			h2 {
				line-height: 80px;
			}
		}

		.imageContainer {
			position: relative;
			padding-top: 150%;

			@include xsScreen {
				padding-top: 65%;
			}

			@include smScreen {
				margin-top: 20px;
				padding-top: 65%;
			}

			@include mdScreen {
				padding-top: 130%;
			}

			img {
				@extend .full-image;
				object-fit: contain;
			}

			.helmet {
				height: 27%;
				z-index: 1;
				transform-origin: center;
				top: 10px;
			}
		}
	}

	.cardsHeader {
		margin-top: 25px;
		@extend .no-select;

		h3 {
			margin-left: auto;
			width: fit-content;
			font-size: 62px;
			color: var.$on-secondary-color;
		}

		@extend .emphasize;

		em {
			margin: 0 5px 0;
			white-space: nowrap;
		}

		.iconWrapper {
			position: relative;
			top: 2px;
			margin-left: 6px;
		}
	}

	.cardsWrapper {
		color: var.$on-secondary-color;
		padding: 20px 0 20px;
	}
}
