@use 'styles/config/variables' as var;
@use 'styles/config/mixins' as *;
@use 'styles/global/extends' as *;

.main {
	.separator {
		border: 0;
		height: 2px;
		background-color: var.$primary-nutral-color;
	}

	.category {
		position: relative;
		border-bottom: 2px solid var.$primary-nutral-color;
		padding: 60px 30px;

		.logoWrap {
			display: flex;
			align-items: flex-start;

			@include xsScreen {
				margin-bottom: 30px;
				flex-direction: column;
			}

			@include smScreen {
				margin-bottom: 30px;
			}

			@include mdScreen {
				flex-direction: column;
			}

			.content {
				margin-left: 35px;

				@include xsScreen {
					margin-left: 0;
				}

				@include mdScreen {
					margin-left: unset;
				}

				h3 {
					font-size: 82px;
					color: var.$primary-color;

					@include xsScreen {
						font-size: 56px;
					}

					@include mdScreen {
						font-size: 62px;
					}

					@include lgScreen {
						font-size: 62px;
					}
				}

				h5 {
					font-size: 18px;
					color: var.$on-background-color;
				}
			}

			.logo {
				position: relative;
				padding-top: 120px;
				max-width: 120px;
				min-width: 80px;

				img {
					@extend .full-image;
					object-fit: contain;

					@include xlScreen {
						margin-top: 5px;
					}
				}
			}
		}

		.serviceWrap {
			display: grid;
			justify-items: end;
			grid-template-columns: repeat(2, 1fr);

			@include xsScreen {
				justify-items: unset;
				grid-template-columns: repeat(1, 1fr);
				row-gap: 20px;
			}

			@include smScreen {
				column-gap: 15px;
				margin-top: 25px;
			}

			@include mdScreen {
				grid-template-columns: repeat(1, 1fr);
				row-gap: 20px;
			}

			@include lgScreen {
				row-gap: 10px;
			}

			@include xlScreen {
				row-gap: 20px;
			}

			.service {
				max-width: 270px;

				.icon {
					padding-top: 50px;
					max-width: 50px;
					margin-bottom: 20px;

					img {
						object-fit: contain;
					}
				}

				h4 {
					text-transform: uppercase;
					font-weight: 500;
					font-size: 21px;
					margin-bottom: 10px;
				}

				p {
					font-weight: 600;
				}
			}
		}

		.bg {
			position: absolute;
			opacity: 0.03;
			filter: contrast(0);
			width: 500px;
			height: 100%;
			right: 0;
			bottom: 0;
			padding: 50px 0;
			z-index: -1;

			img {
				object-fit: contain;
			}
		}
	}
}
