@use 'styles/config/variables' as *;
/* =======================================================================
##	Z-index calc
========================================================================== */

/**
* Calculate Z-Indexes by defined specificity z
* @requires an array of z-indexes
*
* @use "@styles/config/functions"as *;
*
* eg. .modal {
*  z-index: z("modal");
*  }
*
*/

@function z($layer) {
	@if not map-has-key($z-layers, $layer) {
		@warn "No layer found for `#{$layer}` in $z-layers map. Property omitted.";
	}

	@return map-get($z-layers, $layer);
}

/* =======================================================================
##	Unit transform
========================================================================== */

/*  
    Used for making containers have width in percentages. 
    Usage: define elemnt width in px and the width of parent elemnt in px. 
    eg. .block{width:cp(512px, 1024px)} this will result in .block{width:50%;}   
*/

@function cp($target, $container) {
	@return ($target / $container) * 100%;
}

/*  
    Used for making px values convert to rem values
    Usage: define font-size in px and it will convert to rems
    eg. font-size: rem(14px);
*/

@function rem($target, $context: $base-font-size) {
	@if $target==0 {
		@return 0;
	}

	@return $target / $context + 0rem;
}

$base-font-size: 16px;
