@use 'styles/config/variables' as var;
@use 'styles/global/extends' as *;
@use 'styles/config/mixins' as *;

.button {
	padding: 15px 55px;
	position: absolute;
	max-width: fit-content;
	height: fit-content;
	width: 100%;
	z-index: 5;
	right: 120px;
	top: 15px;

	@include xsScreen {
		position: unset;
		width: 100%;
		max-width: unset;
	}

	@include smScreen {
		position: unset;
		width: 100%;
		max-width: unset;
	}

	@include mdScreen {
		position: unset;
	}
}
