@use 'styles/config/mixins' as *;
@use 'styles/config/variables' as var;

.main {
	padding: 0 70px 0 0;
	color: var.$on-secondary-color;

	@include xsScreen {
		padding: 0 0 50px 0;
	}

	@include smScreen {
		padding: 0 0 50px 0;
	}

	@include mdScreen {
		padding: 0 0 50px 0;
	}

	@include lgScreen {
		padding: 0 0 50px 0;
	}

	h2 {
		font-weight: bolder;
		margin-bottom: 15px;
	}

	.fieldGroup {
		display: flex;
		border-bottom: 1px solid darken(var.$secondary-nutral-color-variant, 15%);
		text-transform: capitalize;
		padding: 20px 0 20px;

		@include xsScreen {
			flex-direction: column;
		}

		@include smScreen {
			flex-direction: column;
		}

		label {
			font-weight: 500;
			font-size: 15px;
			line-height: 35px;
			color: var.$on-secondary-color;
			display: flex;
			justify-content: space-between;
			justify-content: center;
			width: fit-content;
		}

		input,
		textarea {
			padding-left: 10px;
			font-weight: 400;
			background-color: transparent;
			outline: 0;
			border: 0;
			resize: none;
			flex: 1;
			font-weight: 600;
			font-size: 14px;
			color: var.$primary-color;
		}

		textarea {
			height: auto;
			padding-top: 8px;
			resize: none;

			&::-webkit-scrollbar {
				display: none;
			}
		}

		input::placeholder,
		textarea::placeholder {
			text-transform: capitalize;
			font-weight: 700;
			color: var.$primary-nutral-color-variant;
		}

		&.compatibilities {
			flex-direction: column;

			.innerWrap {
				display: flex;
				margin-top: 15px;

				@include xsScreen {
					flex-direction: column;
				}

				@include smScreen {
					flex-direction: column;
				}

				@include lgScreen {
					flex-direction: column;
				}

				.mainLabel {
					display: block;
				}

				label:not(.mainLabel) {
					flex: 1;
					background-color: var.$secondary-color;
					border: 2px solid var.$primary-color;
					color: var.$on-primary-color;
					padding: 8px 25px;
					font-size: 15px;
					text-transform: capitalize;
					font-weight: bold;
					border-radius: 50px;
					white-space: nowrap;
					margin-right: 15px;
					cursor: pointer;
					user-select: none;
					transition: background-color 300ms ease;

					@include xsScreen {
						width: auto;
						margin-bottom: 15px;
					}

					@include smScreen {
						width: auto;
						margin-bottom: 15px;
					}

					@include lgScreen {
						width: auto;
						margin-bottom: 15px;
					}
				}

				input[type='checkbox'] {
					display: none;
				}

				:checked + {
					label {
						background-color: var.$primary-color;
					}
				}
			}
		}
	}

	.error {
		color: var.$error-color;
		font-weight: 600;
		font-size: 14px;
		background: var.$error-surface-color;
		padding: 8px 17px;
		display: block;
		border-radius: 2px;
		margin-top: 10px;
	}

	.button {
		margin-top: 40px;

		span {
			padding: 10px 34px;
		}
	}
}
