@use 'styles/config/variables' as var;
@use 'styles/config/mixins' as *;

.main {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 800px;
	top: -150px;
	background-color: var.$background-color;

	@include xsScreen {
		margin-bottom: -150px;
	}

	@include smScreen {
		margin-bottom: -100px;
	}

	@include mdScreen {
		margin-bottom: -120px;
	}

	@include lgScreen {
		margin-bottom: -100px;
	}

	.contentWrap {
		display: flex;
		flex-direction: column;
		text-align: center;
		z-index: 1;

		.headline {
			color: var.$on-background-color;
			padding-top: 32%;

			@include xsScreen {
				padding-top: 50%;
			}

			@include mdScreen {
				padding-top: 30%;
			}

			@include lgScreen {
				padding-top: 28%;
			}

			h1 {
				font-family: var.$secondary-font;
				font-weight: 900;

				@include xsScreen {
					font-size: 30px;
				}

				@include smScreen {
					font-size: 56px;
				}

				@include mdScreen {
					font-size: 68px;
				}
			}
		}

		.categories {
			display: grid;
			position: relative;
			z-index: 1;
			grid-template-columns: repeat(4, 1fr);

			@include xsScreen {
				grid-template-columns: repeat(2, 1fr);
				row-gap: 15px;
				margin-top: 25px;
			}

			@include smScreen {
				grid-template-columns: repeat(2, 1fr);
				margin-top: 25px;
			}

			.item {
				border-radius: 12px;
				text-decoration: none;
				cursor: pointer;
				padding: 15px;
				margin: 35px;

				@include xsScreen {
					padding: 7px;
					margin: 7px;
				}

				&:hover {
					.icon {
						img {
							filter: unset;
						}
					}
				}

				.icon {
					padding-top: 80%;
					pointer-events: none;

					@include xsScreen {
						padding-top: 70%;
					}

					img {
						object-fit: contain;
						filter: contrast(0) brightness(2);
						transition: filter 200ms ease-out;
					}
				}

				h3 {
					pointer-events: none;
					margin-top: 18px;
					font-size: 24px;
					color: var.$primary-color;

					@include xsScreen {
						font-size: 21px;
					}
				}
			}
		}
	}

	.media {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;

		video {
			object-position: top;
		}
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		bottom: -150px;
		width: 100%;
		height: 100%;
		background: var.$background-color;
		opacity: 1;
	}

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 500px;
		background: linear-gradient(
			0deg,
			#0d0d0d 0%,
			rgba(10, 10, 10, 0.75) 50%,
			rgba(255, 255, 255, 0) 100%
		);
	}
}
