@use 'styles/config/variables' as var;
@use 'styles/global/extends' as *;
@use 'styles/config/mixins' as *;

.main {
	position: relative;

	@include xsScreen {
		padding-top: 340px;
	}

	@include smScreen {
		padding-top: 360px;
	}

	@include mdScreen {
		padding-top: 400px;
	}

	@include lgScreen {
		padding-top: 400px;
	}

	@include xlScreen {
		padding-top: 650px;
	}

	.mediaWrap {
		pointer-events: none;
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;

		.flexibleMedia {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			z-index: -1;
			overflow: visible;

			img,
			video {
				border-radius: 4px;
			}
		}
	}

	.contentWrapper {
		position: absolute;
		width: 100%;
		bottom: -16%;
		left: -60px;

		@include xsScreen {
			left: -30px;
			bottom: -20%;
		}

		@include smScreen {
			bottom: -20%;
		}

		@include mdScreen {
			bottom: -20%;
		}

		@include lgScreen {
			bottom: -25%;
		}

		.category {
			position: relative;
			margin-bottom: 5px;
			color: var.$primary-color;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 13px;
		}

		.title {
			position: relative;
			font-size: 58px;
			max-width: 800px;
			min-height: 185px;

			@include xsScreen {
				font-size: 24px;
				min-height: 80px;
			}

			@include smScreen {
				font-size: 32px;
				min-height: 100px;
			}

			@include mdScreen {
				font-size: 42px;
				min-height: 140px;
			}

			@include lgScreen {
				font-size: 52px;
				min-height: 180px;
			}
		}

		.link {
			div {
				display: flex;
			}

			&:hover {
				p {
					color: var.$primary-color;
				}
				svg {
					color: var.$primary-color;
					path {
						fill: var.$primary-color;
					}
				}
			}

			a {
				display: flex;
				font-size: 18px;
				font-weight: 300;
				color: var.$on-secondary-color;
				z-index: 1;
				position: relative;
			}

			@include xsScreen {
				margin-top: 20px;
			}

			.arrow {
				position: relative;
				top: 6px;
				left: 30px;
				fill: var.$on-background-color;
				height: 17px;
				width: 17px;
			}
		}
	}
}
