@use 'styles/config/variables' as var;
@use 'styles/config/mixins' as *;

.animationWrapper {
	.card1,
	.card2,
	.card3 {
		position: absolute;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		will-change: transform;
	}

	.card1 {
		top: 0;
		left: 0;
		height: 100%;
		width: 120%;
		background-position: bottom center;
	}

	.card2 {
		height: 40%;
		width: 40%;
		left: -18%;
		top: -20px;

		@include xsScreen {
			width: 32%;
			left: -67%;
		}

		@include smScreen {
			left: -55%;
		}

		@include mdScreen {
			left: -22%;
			width: 190px;
		}

		@include lgScreen {
			left: -52%;
		}

		@include xlScreen {
			left: -14%;
		}

		@media screen and (min-width: var.$screen-xl) and (max-width: 1399px) {
			left: -33%;
		}
	}

	.card3 {
		height: 100%;
		width: 120%;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		@include xsScreen {
			width: 70%;
		}

		@include smScreen {
			width: 70%;
		}

		@include mdScreen {
			width: 70%;
		}
	}
}
