@use '@styles/config/variables' as var;
@use '@styles/config/mixins' as *;
@use '@styles/global/extends' as *;
@use '@styles/config/functions' as *;

.main {
	padding: 0px 0 100px;
	overflow-x: clip;
	color: var(--text-color);

	@include xsScreen {
		padding: 0px 0 100px;
	}

	@include smScreen {
		padding: 100px 0 100px;
	}

	.notFoundWrapper {
		.animationWrap {
			padding-top: 120%;
			position: relative;
			right: 0;

			@include xlScreen {
				right: 20%;
			}

			.particalsWrap {
				height: 200%;
				left: 0;
				top: 0;

				canvas {
					top: -200px !important;
					width: 120% !important;
					height: 1200px !important;
				}
			}

			@include xsScreen {
				margin-bottom: 150px;
			}

			@include smScreen {
				margin-bottom: 150px;
			}

			@include mdScreen {
				margin-bottom: 150px;
			}
		}

		.textWrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100%;

			@include xlScreen {
				padding-left: 100px;
				padding-top: 50px;
			}

			.imgWrap {
				animation: float 6s ease-in-out infinite;
				padding-top: 30%;
				width: 100%;

				img {
					@extend .full-image;
					object-fit: contain;
				}
			}

			.content {
				color: var.$on-primary-color;
				font-weight: 600;
				font-size: 32px;
				margin-top: 2rem;
				text-align: center;

				@extend .emphasize;

				em,
				strong {
					color: var.$secondary-color;
				}

				.button {
					margin-top: 40px;
					min-width: 280px;
					min-height: 60px;
					color: var(--on-button-color);
					background-color: var(--button-background);
					border: 3px solid var(--button-background);

					&::before,
					&::after {
						background: var(--button-background);
						filter: invert(1);
					}
				}
			}
		}
	}

	.backgroundImg {
		@extend .full-image;
		z-index: z('site-background');
		height: 100%;
		background-position: 20% 30%;

		@include xsScreen {
			background-position: 20% 30%;
		}

		@include smScreen {
			background-position: 20% 30%;
		}
	}

	@keyframes float {
		0% {
			transform: translate(0%, 0%);
		}

		25% {
			transform: translate(10px, 15px);
		}

		50% {
			transform: translate(-10px, -15px);
		}

		75% {
			transform: translate(10px, 15px);
		}

		100% {
			transform: translate(0%, 0%);
		}
	}
}
