Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]

Redirect 301 /about-us.php https:///www.maya.lk/about
Redirect 301 /index.php https:///www.maya.lk/
Redirect 301 /web-design.php https:///www.maya.lk/what-we-do
Redirect 301 /web-hosting.php https:///www.maya.lk/what-we-do
Redirect 301 /domain.php https:///www.maya.lk/what-we-do
Redirect 301 /our-work.php https:///www.maya.lk/portfolio
Redirect 301 /seo.php https:///www.maya.lk/what-we-do
Redirect 301 /contact.php https:///www.maya.lk/contact
Redirect 301 /blog/ceylon-asset-management-launches-the-first-dollar-bond-fund/ https:///www.maya.lk/blog/
Redirect 301 /blog/srkuniverse-com-the-biggest-site-to-date/ https:///www.maya.lk/blog/
Redirect 301 /blog/google-io-2014-disappointing/ https:///www.maya.lk/blog/
Redirect 301 /blog/latest-innovation-from-google-revealed-at-google-io-2013/ https:///www.maya.lk/blog/
Redirect 301 /blog/web-site-of-colombo-region-of-assemblies-of-god-sri-lanka/ https:///www.maya.lk/blog/
Redirect 301 /blog/macbertan-lk-web-site-launch/ https:///www.maya.lk/blog/
Redirect 301 /blog/category/development/ https:///www.maya.lk/blog/
Redirect 301 /blog/category/news/ https:///www.maya.lk/blog/
Redirect 301 /blog/category/fun-facts/ https:///www.maya.lk/blog/
Redirect 301 /blog/relaunching/ https:///www.maya.lk/blog/
Redirect 301 /blog/category/online-marketing/ https:///www.maya.lk/blog/
Redirect 301 /blog/category/uncategorized/ https:///www.maya.lk/blog/
Redirect 301 /blog/srkuniverse-com-the-biggest-site-to-date/1st_badge_shared/ https:///www.maya.lk/blog/
Redirect 301 /blog/srkuniverse-com-the-biggest-site-to-date/comments-for-us-2/ https:///www.maya.lk/blog/
Redirect 301 /blog/srkuniverse-com-the-biggest-site-to-date/comments1/ https:///www.maya.lk/blog/
Redirect 301 /blog/srkuniverse-com-the-biggest-site-to-date/comments3/ https:///www.maya.lk/blog/
Redirect 301 /blog/srkuniverse-com-the-biggest-site-to-date/retweeted/ https:///www.maya.lk/blog/
Redirect 301 /blog/srkuniverse-com-the-biggest-site-to-date/commetns3/ https:///www.maya.lk/blog/
Redirect 301 /blog/srkuniverse-com-the-biggest-site-to-date/commetns4/ https:///www.maya.lk/blog/
Redirect 301 /blog/srkuniverse-com-the-biggest-site-to-date/comments2/ https:///www.maya.lk/blog/
Redirect 301 /blog/unauthorized-copying-of-content-from-our-web-site/ https:///www.maya.lk/blog/
Redirect 301 /domain.php?url=/domain-registration-sri-lanka/ https:///www.maya.lk/what-we-do
Redirect 301 /blog/digiteq-lk-web-site-launch/ https:///www.maya.lk/blog/
Redirect 301 /blog/dialog-ezcash-free-integration-for-magento-wordpress-other-open-source-platforms/ https:///www.maya.lk/blog/
Redirect 301 /blog/angunakolapellessa-%e0%b6%85%e0%b6%9f%e0%b7%94%e0%b6%ab%e0%b6%9a%e0%b7%9c%e0%b7%85%e0%b6%b4%e0%b7%90%e0%b6%bd%e0%b7%83%e0%b7%8a%e0%b7%83-%e0%b6%b4%e0%b7%8a%e2%80%8d%e0%b6%bb%e0%b7%8f%e0%b6%af/ https:///www.maya.lk/blog/
Redirect 301 /seo.php?url=/seo-company-sri-lanka/ https:///www.maya.lk/what-we-do
Redirect 301 /blog/eminence-accounting-solutions-perth-australia/ https:///www.maya.lk/blog/
Redirect 301 /web-design.php?url=/web-design-sri-lanka/ https:///www.maya.lk/what-we-do
Redirect 301 /web-hosting.php?url=/sri-lanka-web-hosting/ https:///www.maya.lk/what-we-do
Redirect 301 /?url=/write-your-web-page-content-by-a-seasoned-pro/ https:///www.maya.lk/what-we-do
Redirect 301 /blog/neighbors-connect-launched/ https:///www.maya.lk/blog/
Redirect 301 /blog/neighbors-connect-launched/neighbours/ https:///www.maya.lk/blog/
Redirect 301 /blog/makeenbooks-com-with-a-new-core-upgrade/ https:///www.maya.lk/blog/
Redirect 301 /blog/makeenbooks-com-with-a-new-core-upgrade/makeen/ https:///www.maya.lk/blog/
Redirect 301 /blog/mansion-kandy-resort-web-site-launched/ https:///www.maya.lk/blog/
Redirect 301 /blog/neighbours-connect-uk-project/ https:///www.maya.lk/blog/
Redirect 301 /blog/bajounation-com-the-sri-lankan-music-portal/ https:///www.maya.lk/blog/
Redirect 301 /blog/category/development/page/2/ https:///www.maya.lk/blog/
Redirect 301 /blog/new-mclanka-com-site-launched/ https:///www.maya.lk/blog/
Redirect 301 /about-us.php?url=/maya-team/ https:///www.maya.lk/about
Redirect 301 /contact.php?url=/contact-us/ https:///www.maya.lk/contact
Redirect 301 /blog/category/news/page/2/ https:///www.maya.lk/blog/
Redirect 301 /blog/happy-new-year-to-you-how-we-spent-our-1st-of-january-2013/ https:///www.maya.lk/blog/
Redirect 301 /blog/happy-new-year-to-you-how-we-spent-our-1st-of-january-2013/p1000786/ https:///www.maya.lk/blog/
Redirect 301 /blog/happy-new-year-to-you-how-we-spent-our-1st-of-january-2013/p1000788/ https:///www.maya.lk/blog/
Redirect 301 /blog/happy-new-year-to-you-how-we-spent-our-1st-of-january-2013/p1000791/ https:///www.maya.lk/blog/
Redirect 301 /blog/happy-new-year-to-you-how-we-spent-our-1st-of-january-2013/p1000790/ https:///www.maya.lk/blog/
Redirect 301 /blog/happy-new-year-to-you-how-we-spent-our-1st-of-january-2013/p1000793/ https:///www.maya.lk/blog/
Redirect 301 /blog/happy-new-year-to-you-how-we-spent-our-1st-of-january-2013/p1000795/ https:///www.maya.lk/blog/
Redirect 301 /blog/happy-new-year-to-you-how-we-spent-our-1st-of-january-2013/p1000798/ https:///www.maya.lk/blog/
Redirect 301 /blog/happy-new-year-to-you-how-we-spent-our-1st-of-january-2013/p1000800/ https:///www.maya.lk/blog/
Redirect 301 /blog/happy-new-year-to-you-how-we-spent-our-1st-of-january-2013/p1000803/ https:///www.maya.lk/blog/
Redirect 301 /blog/happy-new-year-to-you-how-we-spent-our-1st-of-january-2013/p1000804/ https:///www.maya.lk/blog/
Redirect 301 /blog/happy-new-year-to-you-how-we-spent-our-1st-of-january-2013/p1000806/ https:///www.maya.lk/blog/
Redirect 301 /blog/happy-new-year-to-you-how-we-spent-our-1st-of-january-2013/p1000807/ https:///www.maya.lk/blog/
Redirect 301 /blog/happy-new-year-to-you-how-we-spent-our-1st-of-january-2013/p1000808/ https:///www.maya.lk/blog/
Redirect 301 /blog/happy-new-year-to-you-how-we-spent-our-1st-of-january-2013/p1000810/ https:///www.maya.lk/blog/
Redirect 301 /blog/happy-new-year-to-you-how-we-spent-our-1st-of-january-2013/p1000811/ https:///www.maya.lk/blog/
Redirect 301 /blog/happy-new-year-to-you-how-we-spent-our-1st-of-january-2013/p1000812/ https:///www.maya.lk/blog/
Redirect 301 /blog/happy-new-year-to-you-how-we-spent-our-1st-of-january-2013/p1000813/ https:///www.maya.lk/blog/
Redirect 301 /blog/happy-new-year-to-you-how-we-spent-our-1st-of-january-2013/p1000814/ https:///www.maya.lk/blog/
Redirect 301 /blog/happy-new-year-to-you-how-we-spent-our-1st-of-january-2013/p1000816/ https:///www.maya.lk/blog/
Redirect 301 /blog/happy-new-year-to-you-how-we-spent-our-1st-of-january-2013/p1000817/ https:///www.maya.lk/blog/
Redirect 301 /blog/happy-new-year-to-you-how-we-spent-our-1st-of-january-2013/p1000821/ https:///www.maya.lk/blog/
Redirect 301 /blog/happy-new-year-to-you-how-we-spent-our-1st-of-january-2013/p1000820/ https:///www.maya.lk/blog/
Redirect 301 /maya-team https:///www.maya.lk/about
Redirect 301 /blog/our-xmas-tree/ https:///www.maya.lk/blog/
Redirect 301 /blog/sarasavi-lk-gets-the-xmas-look/ https:///www.maya.lk/blog/
Redirect 301 /blog/the-seo-myth-and-why-people-are-still-falling-for-it/ https:///www.maya.lk/blog/
Redirect 301 /blog/getting-more-fans-and-more-business-via-facebook-fan-pages/ https:///www.maya.lk/blog/
Redirect 301 /blog/catchme-lk-starts-operation/ https:///www.maya.lk/blog/
Redirect 301 /blog/catchoftheday-lk-starts-operation/catchme/ https:///www.maya.lk/blog/
Redirect 301 /blog/the-launch-of-auragifts-com/ https:///www.maya.lk/blog/
Redirect 301 /blog/srkuniverse-com-the-biggest-site-to-date/comments-for-us/ https:///www.maya.lk/blog/
Redirect 301 /cart.php https:///www.maya.lk/about
Redirect 301 /blog/sarasavi-lk-infrastructure-improved/ https:///www.maya.lk/blog/
Redirect 301 /blog/erp-from-accsoft-launched/ https:///www.maya.lk/blog/
Redirect 301 /blog/another-masterpiece-launched/ https:///www.maya.lk/blog/
Redirect 301 /blog/globalplus-lk-launched/ https:///www.maya.lk/blog/
Redirect 301 /blog/an-embedded-style-sheet-wordpress-plugin-by-udara-ransinghe/ https:///www.maya.lk/blog/
Redirect 301 /blog/tag/wordpress-plugins/ https:///www.maya.lk/blog/
Redirect 301 /blog/encryption-of-source-code/ https:///www.maya.lk/blog/
Redirect 301 /blog/wordpress-inquiry-form-plugin-to-any-post-or-page/ https:///www.maya.lk/blog/
Redirect 301 /blog/lanka-event-management-project-completed/ https:///www.maya.lk/blog/
Redirect 301 /blog/ecommerce-lk-taking-shape/ https:///www.maya.lk/blog/
Redirect 301 /blog/singlish-typing-guide-transliteration/ https:///www.maya.lk/blog/
Redirect 301 /blog/we-are-redesigning-our-web-site/ https:///www.maya.lk/blog/
Redirect 301 /blog/funeral-service-uk-ties-with-maya/ https:///www.maya.lk/blog/
Redirect 301 /blog/now-we-are-linked-with-every-major-social-platform-out-there/ https:///www.maya.lk/blog/
Redirect 301 /blog/nation-building-tax/ https:///www.maya.lk/blog/
Redirect 301 /blog/mega-pharma-web-design-project/ https:///www.maya.lk/blog/
Redirect 301 /blog/cloudflare-great-but-terrifying/ https:///www.maya.lk/blog/
Redirect 301 /blog/beachcabana-tangalle-boutique-hotel-web-site-launched/ https:///www.maya.lk/blog/
Redirect 301 /blog/quantrax-corporation-usa-wants-a-redesign-of-their-web-site/ https:///www.maya.lk/blog/
Redirect 301 /blog/category/news/page/3/ https:///www.maya.lk/blog/
Redirect 301 /blog/catchme-lk-starts-operation/catchof/ https:///www.maya.lk/blog/
Redirect 301 /blog/mydeal-lk-ties-up-with-maya/ https:///www.maya.lk/blog/
Redirect 301 /blog/hifashion-garments-dubai-signs-deal-with-maya/ https:///www.maya.lk/blog/
Redirect 301 /blog/access-telekom-group-select-maya-creations-as-the-web-server-technology-partner/ https:///www.maya.lk/blog/
Redirect 301 /blog/sarasavi-lk-gets-a-new-look/ https:///www.maya.lk/blog/
Redirect 301 /our-work.php?url=/maya-portfolio/ https:///www.maya.lk/blog/
Redirect 301 /blog/a-honest-feedback-from-one-of-our-premium-web-design-clients/ https:///www.maya.lk/blog/
Redirect 301 /blog/catchme-lk-starts-operation/catchme/ https:///www.maya.lk/blog/