@use 'styles/global/extends' as *;
@use 'styles/config/functions' as *;
@use 'styles/config/mixins' as *;
@use 'styles/config/variables' as var;

.main {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: z('site-header');

	.backdrop {
		z-index: z('site-background');
		position: fixed;
		top: -100vh;
		left: 0;
		height: 0%;
		width: 100%;
		background: var.$secondary-color;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		opacity: 0;
		font-size: 32px;

		@include xsScreen {
			padding-left: 25px;
			font-size: 24px;
		}

		li {
			padding-bottom: 20px;

			a {
				color: var.$on-secondary-color;
				text-decoration: none;
			}
		}

		.button {
			margin-top: 20px;

			span {
				padding: 12px 45px;
			}
		}
	}
}

.active {
	padding-top: 28vh;
	height: 100%;
}
