@use '@styles/config/variables' as var;

.main {
	list-style: none;
	text-decoration: none;
	color: unset;
	display: block;

	&:hover {
		color: var.$primary-color;
	}

	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
