@use '@styles/global/extends' as *;
@use '@styles/config/variables' as var;

.main {
	white-space: nowrap;

	:hover {
		:not(strong) {
			-webkit-text-fill-color: var.$on-background-color;
			-webkit-text-stroke-color: transparent;
		}
	}
}
