@use '@styles/config/variables' as var;
@use '@styles/config/functions' as *;

.main {
	z-index: z('site-header');
	overflow: hidden;
	position: relative;

	main {
		position: absolute;
		width: 100%;
	}
}
