@use 'styles/config/variables' as var;
@use 'styles/config/functions' as *;
@use 'styles/config/mixins' as *;
@use 'styles/global/extends' as *;

.main {
	.navBarInnerWrapper {
		display: flex;
		font-weight: 700;
		font-size: 18px;
		height: 100px;
		align-items: center;
		margin: 20px 0 20px;
		justify-content: space-between;

		@include xsScreen {
			padding-left: 5%;
			padding-right: 5%;
		}

		.logoWrapper {
			position: relative;
			height: 100%;
			width: 15%;
			min-width: 150px;
			z-index: z('on-header');

			@include smScreen {
				margin-top: 0.5rem;
				width: 35%;
			}

			@include mdScreen {
				margin-top: 0.5rem;
				width: 30%;
			}

			@include lgScreen {
				margin-top: 1rem;
				width: 20%;
			}

			@include xlScreen {
				margin-top: 1rem;
			}

			img {
				@extend .full-image;
				object-fit: contain;
			}
		}

		.navItems {
			padding-left: 0;
			display: flex;
			justify-content: space-around;
			height: 100%;
			align-items: center;
			list-style: none;
			width: 60%;
			margin-top: 1rem;

			@include mdScreen {
				width: 20%;
				justify-content: flex-end;
			}

			@include lgScreen {
				width: 20%;
				justify-content: flex-end;
			}

			.navLink {
				list-style: none;
				text-decoration: none;
				color: unset;
				display: block;

				&:hover {
					color: var.$primary-color;
				}

				-webkit-transition: all 400ms ease;
				-moz-transition: all 400ms ease;
				-ms-transition: all 400ms ease;
				-o-transition: all 400ms ease;
				transition: all 400ms ease;
			}
		}

		.buttonWrap {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.cta {
				display: flex;
				justify-content: space-around;
				align-items: center;

				@include mdScreen {
					width: unset;
				}

				@include lgScreen {
					width: unset;
				}

				.button {
					span {
						padding: 8px 30px;
					}
				}
			}

			.hamburger {
				margin-left: 40px;
				z-index: z('modal');
			}
		}
	}
}
