@use '@styles/global/extends' as *;

.main {
	@extend .center-spacing;

	.titleWrap {
		h2 {
			max-width: 1000px;
			font-size: 62px;
		}

		h3 {
			font-size: 21px;
		}
	}

	.teamWrap {
		@extend .top-spacing;
	}
}
