@use 'styles/config/variables' as var;
@use 'styles/global/extends' as *;
@use 'styles/config/mixins' as *;

.main {
	@extend .center-spacing;

	@include xsScreen {
		padding-top: unset;
	}

	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	text-align: center;

	h2 {
		font-size: 21px;
		line-height: 28px;

		strong {
			color: var.$secondary-color;
		}
	}

	.carousel {
		margin-top: 50px;

		.brandImg {
			padding-top: 65%;
			filter: grayscale(100%);
			display: flex;

			img {
				object-fit: contain;
				width: 90%;
			}

			&:hover {
				filter: unset;
			}
		}
	}
}

:export {
	.brandsCarousel {
		.slick-list {
			overflow-y: visible;
			overflow-x: clip;

			.slick-track {
				.slick-slide {
					height: 100%;
					position: relative;
					opacity: 0.7;
					transition: all 300ms ease-out;

					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}
}
