@use '@styles/config/variables' as var;
@use '@styles/config/mixins' as *;

.main {
	padding: 150px 0 150px;
	overflow-x: clip;

	@include xsScreen {
		padding: 50px 0 50px;
	}

	@include smScreen {
		padding: 50px 0 50px;
	}

	.titleWrap {
		.headline {
			font-size: 52px;
			margin-bottom: 0;
		}

		.animWrap {
			position: relative;
			overflow: hidden;

			@include xsScreen {
				display: flex;
				flex-direction: column;
			}

			.animPrefix {
				color: var.$on-primary-color;
				display: inline-block;
				margin-right: 20px;
				font-size: 72px;

				@include xsScreen {
					font-size: 46px;
				}
				@include smScreen {
					font-size: 46px;
				}
			}

			.animatorContainer {
				position: relative;

				@include xsScreen {
					padding-top: 55px;
					overflow: hidden;
				}

				@include smScreen {
					top: 5px;
				}

				.animTitlesWrap {
					position: absolute;
					display: inline;

					.title {
						white-space: nowrap;
						color: var.$primary-color;
						font-size: 72px;

						@include xsScreen {
							font-size: 46px;
						}
						@include smScreen {
							font-size: 46px;
						}
					}
				}
			}
		}

		.subtitle {
			margin-top: 40px;
			font-size: 18px;
			line-height: 2;
		}
	}

	.mediaWrap {
		height: 100%;
		padding-top: 100%;
		animation: mascotFreestyle 4s linear infinite;
		overflow-x: clip;

		@include xsScreen {
			padding-top: 60%;
		}
		@include smScreen {
			margin-top: 50px;
			padding-top: 70%;
		}
		@include mdScreen {
			margin-top: 50px;
			padding-top: 50%;
		}

		img {
			object-fit: contain;
		}
	}
}

@keyframes mascotFreestyle {
	0% {
		transform: translate(0px, 0px) rotate(0deg);
	}

	25% {
		transform: translate(5px, 10px) rotate(5deg);
	}

	50% {
		transform: translate(0px, 0px) rotate(10deg);
	}

	75% {
		transform: translate(-5px, -10px) rotate(5deg);
	}

	100% {
		transform: translate(0px, 0px) rotate(0deg);
	}
}
