@use 'styles/config/variables' as var;
@use 'styles/config/functions' as *;

.main {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: z('super');
	pointer-events: none;

	.inner {
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		font-size: 15px;
		position: absolute;
		pointer-events: none;
		transition: transform 0.2s ease-in-out, width 0.2s ease-in-out,
			height 0.2s ease-in-out;
		border-radius: 100%;
		height: 12px;
		width: 12px;
		overflow: hidden;
	}
}
