@use 'styles/config/variables' as var;
@use 'styles/config/functions' as *;
@use 'styles/global/extends' as *;
@use 'styles/config/mixins' as *;

.main {
	z-index: z('site-footer');
	background-color: var.$background-color;
	overflow: hidden;

	@extend .top-spacing;

	hr {
		margin: 35px 0 20px;
		color: var.$secondary-nutral-color-variant;
	}

	.form {
		button {
			max-width: 50%;

			@include xsScreen {
				max-width: unset;
			}
		}
	}
}
