@use 'styles/config/variables' as var;
@use 'styles/config/mixins' as *;

.main {
	display: flex;
	justify-content: space-between;
	color: var.$primary-nutral-color-variant;

	@include xsScreen {
		flex-direction: column-reverse;
		align-items: center;
		padding-bottom: 20px;
	}

	time {
		font-weight: 500;
		font-size: 13px;
		text-transform: capitalize;
	}

	p {
		font-size: 13px;
		font-weight: 600;

		em,
		strong {
			color: var.$on-secondary-color;
		}

		@include xsScreen {
			margin-bottom: 5px;
		}
	}
}
