@use '@styles/config/variables' as var;
@use '@styles/config/functions' as *;

.main {
	transition: background-color 2s ease;
	transition: color 1s ease;

	.background {
		transition: background-color 1s ease;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		height: 200%;
		width: 100%;
		z-index: z('site-background');
	}

	.isActive {
		color: unset;

		h4 {
			color: var.$on-secondary-color;
		}

		h2 {
			-webkit-text-stroke-color: var.$on-background-color;
		}
	}

	.notActive {
		color: unset;
	}
}
