@use '@styles/config/variables' as var;
@use '@styles/global/animations' as *;
@use '@styles/global/extends' as *;
@use '@styles/config/mixins' as *;

.main {
	@extend .center-spacing;

	.wrapper {
		display: flex;
		flex-direction: column;

		@include lgScreen {
			flex-direction: row;
		}

		@include xlScreen {
			flex-direction: row;
		}

		header {
			img {
				height: 80px;
				position: unset;
				width: unset;
			}

			h4 {
				margin: 30px 0 20px;
			}
		}

		article {
			.content {
				@extend .emphasize;
				font-size: 32px;
				font-weight: 500;
				margin-right: 20px;
				margin-bottom: 25px;
				line-height: 40px;

				strong {
					font-weight: inherit;
				}
			}

			.userAvatar {
				display: flex;
				align-items: center;

				@include xsScreen {
					flex-direction: column;
					margin-top: 40px;
				}

				@include smScreen {
					flex-direction: column;
					margin-top: 40px;
				}

				.imgWrapper {
					position: relative;
					height: 80px;
					width: 80px;

					img {
						@extend .full-image;
						border-radius: 50%;
					}
				}

				cite {
					display: flex;
					flex-direction: column;
					content: '';
					padding: 0 20px 20px;
					text-align: center;

					p {
						font-size: 32px;
						font-weight: bolder;
						color: var.$primary-color;
						margin-bottom: 0;
					}

					span {
						background-color: var.$primary-nutral-color;
						color: var.$on-primary-color;
						font-size: 18px;
						font-style: normal;
						padding: 5px 20px 5px;
						font-weight: 600;
					}
				}
			}
		}

		aside {
			height: 100%;

			.imgFrame {
				display: flex;
				align-items: center;
				justify-content: center;
				padding-top: 100%;

				@include lgScreen {
					height: 100%;
				}

				@include xlScreen {
					padding-top: unset;
					height: 100%;
				}

				img {
					object-fit: contain;
				}
			}
		}
	}
}
