@use '@styles/config/variables' as var;
@use '@styles/config/mixins' as *;
@use '@styles/global/extends' as *;

.main {
	@extend .center-spacing;

	.imageFrame {
		mix-blend-mode: screen;
		padding-top: 550px;
		overflow: hidden;

		@include xsScreen {
			padding-top: 450px;
		}

		img,
		video {
			object-fit: contain;
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		color: var.$on-secondary-color;
		padding-top: 50px;

		@include xsScreen {
			text-align: center;
		}

		@include smScreen {
			padding: 40px 0 0px 0px;
		}

		@include mdScreen {
			align-items: center;
		}

		@include xlScreen {
			padding: 20px 0 20px 50px;
		}

		h2 {
			font-size: 72px;
			line-height: 72px;
			font-weight: bolder;
			margin-top: 10px;

			@include xsScreen {
				font-size: 54px;
			}
		}

		h3,
		h4 {
			font-size: 24px;
			line-height: 38px;
		}
	}
}
