@use '@styles/config/variables' as var;
@use '@styles/global/extends' as *;
@use '@styles/config/mixins' as *;

.main {
	@extend .center-spacing;

	color: var.$on-secondary-color;
	position: relative;
	overflow-x: hidden;

	.subtitle {
		margin-bottom: 35px;
	}

	.button {
		span {
			padding: 10px 35px;
		}
	}

	.textSpinner {
		position: relative;
		display: none;
		top: 20px;

		@include xlScreen {
			display: block;
			right: 25px;
		}
	}

	.carousel {
		width: 80vw;
		margin: 115px;

		@include xsScreen {
			padding-bottom: 10%;
			margin: 60px;
			clip-path: none;
		}

		@include smScreen {
			margin: 60px 0 0 60px;
			padding-bottom: 10%;
			clip-path: none;
		}

		@include mdScreen {
			margin: 100px 0 0 60px;
			padding-bottom: 10%;
			clip-path: none;
		}
	}
}

:global {
	.projectsSlider {
		.slick-list {
			overflow: visible;

			.slick-slide {
				outline: 0;
				border: 0;
				padding-right: 140px;

				@include xsScreen {
					padding-right: 54px;
				}

				@include smScreen {
					padding-right: 100px;
				}

				@include mdScreen {
					padding-right: 120px;
				}
			}
		}
	}
	.arrowAnim {
		position: relative;
	}
}
