@use '@styles/config/variables' as var;
@use '@styles/global/extends' as *;
@use '@styles/config/mixins' as *;

.circleWrap {
	position: relative;
	width: 180px;
	height: 180px;
	border-radius: 100%;
	z-index: 1;
	padding-right: 20px;
	margin-bottom: 25px;

	.logo {
		position: relative;
		left: 20px;

		transform: scale(0.9);
		top: 45px;
	}

	.inner {
		background-color: var.$on-primary-color;
		position: absolute;
		border-radius: 100%;
		width: 70%;
		height: 70%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		font-size: 21px;
		user-select: none;
		border: 8px solid var.$primary-color;
	}

	.stripe {
		position: absolute;
		width: 22px;
		background-color: var.$primary-color;
		transform-origin: bottom center;
		bottom: 85px;
		width: 12px;

		&.logoStripeUp,
		&.logoStripeDown {
			width: 6px;
		}

		&.logoStripeUp {
			bottom: 80px;
			top: -25px;
			left: 85px;
		}

		&.logoStripeDown {
			top: 150px;
			left: 90px;
		}

		&.circleStripeUp,
		&.circleStripeDown {
			height: 350px;
		}

		&.circleStripeUp {
			transform: rotate(122deg);
			right: 25%;
		}

		&.circleStripeDown {
			transform: rotate(240deg);
			right: 60%;
		}

		.arrow {
			border: solid var.$primary-color;
			border-width: 0 14px 14px 0;
			display: inline-block;
			padding: 0px;
			position: absolute;
			left: -4px;

			&.up {
				transform: rotate(-135deg);
				top: 0;
			}
			&.down {
				transform: rotate(45deg);
				bottom: 0;
			}
		}
	}
}
