@use 'styles/config/variables' as var;
@use 'styles/global/extends' as *;
@use 'styles/config/mixins' as *;

.circleWrap {
	position: relative;
	width: 180px;
	height: 180px;
	border-radius: 100%;
	z-index: 1;
	padding-right: 20px;

	.logo {
		position: relative;
		transform: scale(0.6);
		left: unset;
	}

	.inner {
		background-color: var.$on-primary-color;
		position: absolute;
		border-radius: 100%;
		top: 0;
		bottom: 0;
		right: 45px;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		user-select: none;
		border: 7px solid var.$primary-color;
		font-size: 21px;
		margin: 10px;
		width: 55%;
		height: 55%;
	}

	.stripe {
		position: absolute;
		background-color: var.$primary-color;
		transform-origin: bottom center;
		bottom: 50px;
		height: 4px;
		width: 12px;

		&.logoStripeUp,
		&.logoStripeDown {
			width: 6px;
			left: 200px;
		}

		&.logoStripeUp {
			bottom: 80px;
			right: 55%;
			top: 56px;
			left: 0;
		}

		&.logoStripeDown {
			top: 51px;
			left: 113px;
			transform: rotate(180deg);
		}

		.arrow {
			border: solid var.$primary-color;
			border-width: 0 14px 14px 0;
			display: inline-block;
			padding: 0px;
			position: absolute;
			left: -4px;

			&.up {
				transform: rotate(-135deg);
				top: -5px;
			}
			&.down {
				transform: rotate(45deg);
				bottom: -5px;
			}
		}
	}
}
